{% extends 'layout.html' %}


{% block body %}
<style>
    body {
      background-image: url('https://cdn.wallpapersafari.com/60/67/1QYXWi.jpg');
      background-attachment: fixed; 
      background-size: cover;
      background-size: 100% 100%;
  
    }

    </style>
<h1 style="font-size: 30px; font-weight: 400; font-family: sans-serif; color: rgb(250, 242, 24);"><b>About MapEnd Harmony Interview Tool</b></h1>
<h3 style="color: rgb(52, 220, 103);"><b><i>Prepare for success with Harmony.</i></b></h3>
<h4 style="color: white; font-family: Arial, Helvetica, sans-serif; "><b><i>The Harmony App is the solution for candidates who struggle to find the right interview resources for specific companies or exams.
  One of the biggest challenges that candidates face when preparing for an interview or an exam is finding the right resources. 
  There are so many sources of information and practice materials available online, but not all of them are relevant, reliable, or updated. 
  Candidates need to study the best resources that match the specific requirements and expectations of the interviewers or examiners. 
  They also need to practice the most common and important questions that are likely to be asked in the interview or exam.
  However, searching for these resources can be very hard and time-consuming.
  Candidates may waste a lot of time and energy browsing through various websites, books, courses, or forums, without finding what they 
  need. They may also miss out on some valuable tips and insights that could make a difference in their performance. 
  <p>This is where Harmony App comes in handy. Harmony App is a platform that provides candidates with the best resources and guidance for any interview or exam. </p><br>
  
  <p>It helps candidates to prepare themselves effectively and efficiently. 
  Harmony App is the perfect solution for candidates who want to prepare themselves for any interview or exam. It is also best platform where you
  cab share your knowledge or information regarding any exams. If a person wants to add the courses to the App they can do that also. It saves them time and energy by providing them with the best resources and guidance. 
  It also enhances their confidence and performance by helping them to practice and improve their skills and knowledge. With Harmony App, candidates can achieve their goals and succeed in any interview or exam.</i></b></h4>
{% endblock %}