{% extends 'layout.html' %}


{% block body %}
<style>
    body {
      background-image: url('https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a');
      background-attachment: fixed; 
      background-size: cover;
      background-size: 100% 100%;
  
    }

    </style>
<h1 style="font-size: 55px; font-weight: 400; font-family: 'Franklin Gothic Medium'; color: brown;"><b>About Journaling</b></h1>
<h4><b>Journaling has become has become such a mania that a new journal is being created every
    second of every minute of every hour of every day. A journal is best bet for the voice among the
    online crowd. Online Journaling WebApp is a Journaling platform where users can express their
    feelings by writing up articles about anything. This platform will allow different users to like or
    rate others articles as well. Journaling Platforms are broadcast-style communications systems
    that enable authors(users) to publish articles, opinions or review others opinions.
    In order to gain an overview about the report, firstly, the purpose and scope of this document
    will be given, then an overall description of Journaling WebApp internal system is followed. In
    addition to these, system features such as uploading photos, etc. will also be discussed in detail.
    After mentioning about the introduction of the software system, the specific requirements will
    be addressed for it. In the final part, functional and non-functional requirements will be
    addressed.</b></h4>
{% endblock %}