{% extends 'layout.html' %}

{% block body %}

<form method="POST" action="">
  <style>
    body {
      background-image: url('https://images.unsplash.com/photo-1513542992587-cd39ba97057c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80');
      background-attachment: fixed; 
      background-size: cover;
      background-size: 100% 100%;
  
    }

    </style>
    <h1 style="color: white;"><b>Add Article!</b></h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <div class="container p-4">
    <div class="alert alert-success my-3"  role="alert">
        Write here!
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category,message in messages %}
    <div class="alert alert-{{category}} my-3"  role="alert">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <div class="form-group">
            <h1>New Post</h1>
            <div class="form-group">
                {{form.title.label(class="form-control-label")}}
                <!--For form validation-->                
                {% if form.title.errors %}
                {{form.title(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ render_field(form.title, class_="form-control") }}
                {% endif %}                
            </div>
            <div class="form-group">
                {{form.body.label(class="form-control-label")}}<small class="text-muted"> (supports markdown)</small>
                <!--For form validation-->                
                {% if form.body.errors %}
                {{ render_field(form.body, class_="form-control") }}
                <div class="invalid-feedback">
                    {% for error in form.body.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                <div class="form-group" style="color: black; font-size: 30px;">
                  {{ render_field(form.body, class_="form-control", id="editor") }}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{form.submit(class="btn btn-outline-info")}}
            </div>
        </div>
    </form>
    </div>
</div>
  </form>

  
{% endblock %}

