{% extends 'layout.html' %}


{% block body %}
<style>
  body {
    background-image: url('https://wallpapers.com/images/featured/q4ei4i2ruw3b5gp9.jpg');
    background-attachment: fixed; 
    background-size: cover;
    background-size: 100% 100%;

  }

  </style>
<h1><b>{{article.title}}</b></h1>
  <h3><b>Course written by {{article.author.username}} on {{article.date_posted.strftime('%Y-%m-%d')}}</b></h3>
  <hr>
  <div>
  <h4 style="font-size: large; font-style: italic; color: rgb(47, 25, 238);"> {{article.body | safe}} </h4>
  </div>
{% endblock %}