{% extends 'layout.html' %}


{% block body %}

  <h1>Quiz<small> Welcome {{current_user.username}}</small></h1>
  <h1>Answer the following questions</h1>

  <table id="quiz" class="table table-striped">
    <thead>
        <tr>
            <th>Question</th>
            <th>Choices</th>
            <th>Answer</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ quiz.question }}</td>
            <td>
                <form action="/check_answer" method="POST">
                    <input type="radio" name="choiceA" value="{{ quiz.choiceA }}"> {{ quiz.choiceA }}<br>
                    <input type="radio" name="choiceB" value="{{ quiz.choiceB }}"> {{ quiz.choiceB }}<br>
                    <input type="radio" name="choiceC" value="{{ quiz.choiceC }}"> {{ quiz.choiceC }}<br>
                    <input type="hidden" name="quizid" value="{{ quiz.id }}">
                    <input type="submit" value="Submit">
                </form>
            </td>
            <td>{{ quiz.answer }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}